name: Check code coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up python311
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: install simsurveillance and dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel coverage
          python -m pip install . 

      - name: run software testing
        run: |
          coverage run run_software_testing.py --unit